body {
  background-color: transparent;
}

.btn-primary {
    color: #000;
    background-color: #cafdc0;
    border-color: #cafdc0;
}

.btn-primary:hover {
  color: #000;
  background-color: #66995b;
  border-color: #66995b;
}